extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet, nisi a placerat semper, ex metus cursus massa, ut scelerisque felis purus a lacus. Integer et nibh vel tortor bibendum egestas. Cras a diam quis lectus tincidunt tempor.

                p Integer id vestibulum odio. Nam vitae mauris vitae urna vehicula imperdiet at ut lacus. Quisque odio eros, ullamcorper vel diam in, mollis commodo sapien. Nunc finibus augue felis, et ornare sapien pretium quis. Curabitur pharetra congue fermentum.

                p Nunc leo velit, commodo vitae mi vel, tristique suscipit mi. Etiam tempus posuere urna quis eleifend. Donec condimentum sapien eu malesuada tincidunt. Aliquam sollicitudin, dolor sit amet congue pellentesque, augue arcu blandit ipsum, ut iaculis nisl sem sed arcu. Nulla gravida non eros ut molestie. Integer non scelerisque lorem. Vestibulum at pretium neque. Proin et nisi quis tortor dapibus posuere. Aenean sit amet lectus tincidunt, pharetra ante sed, efficitur felis. Praesent facilisis ultricies mi vitae ultricies.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin et nisi quis tortor dapibus posuere. Aenean sit amet lectus tincidunt, pharetra ante sed, efficitur felis. Praesent facilisis ultricies mi vitae ultricies.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Destinos Hermosos
                    p Proin et nisi quis tortor dapibus posuere. Aenean sit amet lectus tincidunt, pharetra ante sed, efficitur felis. Praesent facilisis ultricies mi vitae ultricies.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Precios Accesibles
                    p Proin et nisi quis tortor dapibus posuere. Aenean sit amet lectus tincidunt, pharetra ante sed, efficitur felis. Praesent facilisis ultricies mi vitae ultricies.